[Desktop Entry]
Type=Application
Name=Foil Pics
X-Nemo-Application-Type=silica-qt5
Icon=harbour-foilpics
Exec=harbour-foilpics

[X-HarbourBackup]
BackupPathList=.local/share/foil/:Documents/FoilPics/
BackupConfigList=/apps/harbour-foilpics/
